<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="facturacionElectronicaDIAN" connectionString="Data Source=localhost;Initial Catalog=RASTREO;Integrated Security=SSPI;User ID=RASTREO;Password=RASTREO;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="mixedMessageEncoding" type="FacturacionElectronica.Controlador.MyNewEncodingBindingExtensionElement, FacturacionElectronica, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="facturaElectronicaPortNameSoap11" sendTimeout="00:20:00">
          <security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport"
            includeTimestamp="false" allowInsecureTransport="false" />
          <mixedMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWcfDianCustomerServices">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256Rsa15"
              establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://facturaelectronica.dian.gov.co/habilitacion/B2BIntegrationEngine/FacturaElectronica"
        binding="customBinding" bindingConfiguration="facturaElectronicaPortNameSoap11"
        contract="ServicioFacturacionDian.facturaElectronicaPortName"
        name="facturaElectronicaPortNameSoap11" />
      <endpoint address="https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfDianCustomerServices"
        contract="ServicioFacturacionDian.IWcfDianCustomerServices"
        name="WSHttpBinding_IWcfDianCustomerServices" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
